header{
	color: white;
}
ul > li{
	list-style-type: none;
}
ul.menu > li > a{
	color: white;
}
ul.menu > li > a:hover{
	color: black;
}
hr {
    width: 20%;
    margin: 0rem auto 1rem;
    opacity: 1;
}
.hero > div > h1{
	font-weight: 700;
}
.hero > div > p{
	font-weight: 600;
}
.bluetitle{
	color: #4A8BED;
}
.lightFont{
	font-weight: 300;
}
.dosimetria{
	height: 500px;
}
.space{
	padding: 0 20px;
}
.parallaHeader{
	height: 90vh;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top;
	background-image: url(img/parallax1.png);

}
.sis{
	height: 450px;
}
.parallaxBlue{
	height: 350px;
	width: 100%;
	font-size: 18px;
	color: white;
	background-color: #2F7AEB;
}
.parallaxFooter > .row{
 height: 550px;
}
.btn-transparent{
	color: white;
	background: transparent;
	border-radius: 25px;
	border: white 3px solid;
	padding: 7px 20px;
	margin: 5px;
}
.parallaxFooter{
	height: 600px;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	background-image: url(img/parallaxFooter.png);
	color: white;
}
.hero{
	height: 60vh;
}
.pie{
	font-size: 10px;
	color: white;
	background-color: black;
	width: 100%;
	height: auto;
}
.pie .derechos{
	padding: 10px;
	margin: 0;
}
.wavesIzq{
	position: absolute;
	left: 0;

}
.wavesDer{
	position: absolute;
	right: 0;
}
.ancho{
	position: relative;
	top: -50px;
	width:100%;
}
.servi{
	margin: 75px 0;
}

.titleFooter{
	font-weight: 600;
}

.parallaxFooter div p{
	font-weight: 600;
}
.fade{
	opacity: 1;
	animation: fadeIn;
	animation-duration: 3s;
	 animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0%{
   opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.blueLine{
	margin: 0 auto;
	display: block;
	width: 50px;
	height: 5px;
	background-color: #2F7AEB;

}
.bgSis{
	
	
	
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	background-image: url(img/sistema.png);
	color: white;
}
.insta{
	color: white;
	text-decoration: none;
}




@media (max-width: 991.98px) { 

	.wavesIzq{
		height: 300px;
	}
	.wavesDer{
		height: 300px;
	}
 }

@media (max-width: 767.98px) { 
	.wavesIzq{
		height: 200px;
	}
	.wavesDer{
		height: 200px;
	}
 }

@media (max-width: 575.98px) {  }


